<p>Hallo {{ name }}, du wurdest eingeladen, 1909 zu verwenden. 🎉</p>
<p>Klicke auf diesen Link um dich einzuloggen: <a href="{{ loginLink }}">Los gehts</a></p>
<p>Samma schwoarz, samma weiß, dein 1909 Team 🖤🤍</p>